.venv
__pycache__
*.pyc
.env
rag_index/
structured_schemes/
wa-sessions/
wa-cache/
.git
.gitignore
.dockerignore

*.zip
qdrant_hybrid_db
Claude-BugHunter
AzureCLI.msi
ffmpeg_linux_amd64
github
github_upload
*.pdf
